/* ========================================================
pagenation - ページネーション関連スタイル
======================================================== */
.pagination{
	padding: 3rem 0;
	.nav-links{
		display: flex;
		justify-content: center;
		.page-numbers{
			border: 0.1rem solid $color02;
			text-align: center;
			padding: 1.5rem;
			color: $color02;
			font-weight: 700;
			&:not(:last-child){
				margin-right: 2rem;
			}
			&.next,&.prev{
				font-size: 0;
				position: relative;
				&::before{
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%,-50%);
					font-size: 1.2rem;
				}
			}
			&.next{
				&::before{
					content: '>>';
				}
			}
			&.prev{
				&::before{
					content: '<<';
				}
			}
		}
	}
}