/* ========================================================
header
======================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  background-color: $white;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
  z-index: 10;
  @include m-font-notocjk;

  .h-inner {
    display: flex;
    justify-content: space-between;

    @include mq(sp) {
      padding: 1.1rem 2rem;
    }

    @include mq() {
      min-width: 120rem;
      margin: 0 auto;
    }

    .logo {

      @include mq(sp) {
        max-width: 16.1rem;
        padding: 0.5rem 0;
      }

      @include mq() {
        padding: 3.4rem 3rem;
      }

      a {
        display: inline-block;
      }
    }

    .h-content {

      @include mq(sp) {
        position: fixed;
        top: 6.2rem;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: $white;
        z-index: 5;
        padding: 0 2rem;
        transition: all 0.3s;
        overflow-x: hidden;
        overflow-y: auto;
      }

      @include mq() {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
      }

      &.js-content {
        @include mq(sp) {
          left: 0%;
        }
      }

      .btn-blk {
        @include mq(sp) {
          padding-bottom: 10rem;
        }

        @include mq() {
          display: flex;
          justify-content: flex-end;
        }

        .h-btn {
          @include mq(sp) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.8rem 2rem;
            border-radius: 0.6rem;
          }

          @include mq() {
            padding: 1.7rem 3.4rem;
          }

          .btn-txt {
            font-weight: 700;

            @include mq(sp) {
              font-size: 1.6rem;
            }

            @include mq() {
              font-size: 1.4rem;
              line-height: 1.2;
            }

          }

          .btn-circle {
            @include mq(sp) {
              width: 2.8rem;
              height: 2.8rem;
              border: 0.1rem solid $white;
            }

            @include mq() {
              width: 1.5rem;
              height: 1.5rem;
              background-color: $white;
            }

            &::before {

              @include mq(sp) {
                border-color: $white;
              }

            }
          }

          &.purple-btn {

            @include mq(sp) {
              margin-bottom: 1.5rem;
            }

            @include mq() {
              border-bottom-left-radius: 1rem;
            }

            .btn-circle {
              &::before {
                @include mq() {
                  border-color: $color02;
                }
              }
            }
          }

          &.blue-btn {

            .btn-circle {
              &::before {
                @include mq() {
                  border-color: $color01;
                }
              }
            }
          }
        }
      }

      .nav {

        @include mq(sp) {
          text-align: center;
          padding: 5.1rem 0;
        }

        @include mq() {
          padding-top: 3.2rem;
          padding-right: 5rem;
        }

        .menu-list {
          letter-spacing: 0.07rem;

          @include mq(sp) {
            font-size: 1.6rem;
            font-weight: 700;
          }

          @include mq() {
            display: flex;
            font-size: 1.4rem;
            font-weight: 500;
          }

          li {
            &:not(:last-child) {

              @include mq(sp) {
                margin-bottom: 4.3rem;
              }

              @include mq() {
                margin-right: 3.4rem;
              }
            }

          }
        }
      }
    }

    .menu-toggle {
      @include mq(sp) {
        width: 3.8rem;
        height: 3.8rem;
        position: relative;
        border-radius: 50%;
        background-image: linear-gradient(92.15deg, $color01 1.34%, $color02 99.99%);
        cursor: pointer;
      }

      span {
        @include mq(sp) {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: $white;
          width: 1.8rem;
          height: 0.2rem;
          border-radius: 0.1rem;
        }

        &::before,
        &::after {
          position: absolute;
          content: '';
          width: 100%;
          background-color: $white;
          border-radius: inherit;
          height: 100%;
          transition: all 0.3s ease-out;
        }

        &::before {
          margin-top: -0.5rem;
        }

        &::after {
          margin-top: 0.5rem
        }
      }

      &.js-active {
        span {
          background-color: transparent;

          &::before,
          &::after {
            margin-top: 0;
          }

          &::before {
            transform: rotate(45deg);
          }

          &::after {
            transform: rotate(-45deg);
          }
        }
      }
    }

  }
}